<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jiechu.springboot.dao.UserDao">
    <insert id="insertUser">
        insert into user(username,password,realName,sex,age,phone,email,address,avatar) values(#{username},#{password},#{realName},#{sex},#{age},#{phone},#{email},#{address},#{avatar});
    </insert>
    <update id="updateUser">
        update user set username = #{username},password = #{password},sex = #{sex},realName = #{realName},age = #{age},phone = #{phone},email = #{email},address = #{address},avatar = #{avatar} where id = #{id};
    </update>
    <delete id="deleteUser">
        delete from user where id = #{id};
    </delete>
    <select id="finAllUsers" resultType="com.jiechu.springboot.entity.User">
        select * from user;
    </select>
    <select id="findUser" resultType="com.jiechu.springboot.entity.User">
        select * from user where username = #{username} and password = #{password};
    </select>
    <select id="findPageUsers" resultType="com.jiechu.springboot.entity.User">
        select * from user
        <where>
            <if test="username !=null and username !=''">
                and username like concat('%',#{username},'%')
            </if>
            <if test="phone !=null and phone !=''">
                and phone like concat('%',#{phone},'%')
            </if>
            <if test="email !=null and email !=''">
                and email like concat('%',#{email},'%')
            </if>
        </where>
        limit #{pageNum},#{pageSize}
    </select>
    <select id="count" resultType="long">
        select count(id) from user
        <where>
            <if test="username !=null and username !=''">
                and username like concat('%',#{username},'%')
            </if>
            <if test="phone !=null and phone !=''">
                and phone like concat('%',#{phone},'%')
            </if>
            <if test="email !=null and email !=''">
                and email like concat('%',#{email},'%')
            </if>
        </where>
    </select>
    <select id="selectById" resultType="com.jiechu.springboot.entity.User">
        select * from user where id = #{id};
    </select>
    <update id="updatePassword">
        update user set password = #{newPassword} where id = #{id};
    </update>
    <update id="resetPassword">
        update user set password = #{password} where id = #{id};
    </update>
</mapper>